/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*BG-BODY*/
.BG-body{
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 20%, rgba(214,219,216,1) 20%);
    height: 100vh;
}
.M{
    margin-top: 45px;
}
.MM{
    margin-left: 5px;
    margin-right: 5px;
}
.MB{
    margin-bottom: 15px;
}

#app{
    padding: 0;
}
.height{
    height: 70px;
}
.height2{
    height: 90px;
}
.height3{
    height: 38px;
}
.a{
    text-decoration: none;
    color: grey;
}

.p{
    color: grey;
}
/*GENERAL*/
.Window{
    height: 800px;
    background-color: white;
   
}
.img{
    height: 60px;
    width: 60px; 
    border-radius: 50%;
  
}
.my-row{
    display: flex;
    align-items: center;
    

}
.BG{
    background-color: #8edafc;
}
.Back{
    background-image: url(../img/mine.jpg);
    height: 727px;
}
.flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.Colors{
    background-color: #d3f8bb;
}
.Colors2{
    background-color: whitesmoke;
}
.single-message-container{
    display: flex;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 25%;
}
.single-message-container.sent{
    justify-content: flex-end;
    
}
.single-message-container.riceved{
    justify-content: flex-start;
}