/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*BG-BODY*/
.BG-body{
    background-color: #dadbd4;
}
/*GENERAL*/
.SP:hover{
    background-color: #e9ebeb;

}
/*HEADER*/
.BG{
    background-color: #009688;
    height: 180px;
}
.BG-WHITE{
    background-color: #eaeaea;
    height: 90vh;
}
.avatar{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.flex{
    display: flex;
    align-items: center;
}
.M{
    margin-top: 5px;
    margin-left: 5px;
}
.Color-p{
    color: #c1c2c7;
}
.Height{
   height: 50px;
}



/*MAIN*/







/*FOOTER*/