/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*BG-BODY*/
.BG-body{
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 20%, rgba(214,219,216,1) 20%);
    height: 100vh;
}
.M{
    margin-top: 80px;
}
.MH{
    margin-top: 20px;
    margin-left: 15px;

}
.MS{
    margin-left: 10px;
}
#app{
    padding: 0;
}
.height{
    height: 70px;
}
.height2{
    height: 90px;
}
.a{
    text-decoration: none;
    color: grey;
}
.POS{
    margin-top:2px;
}
.p{
    color: grey;
}
/*GENERAL*/
.Window{
    height: 800px;
    background-color: white;
   
}
.img{
    height: 60px;
    width: 60px; 
    border-radius: 50%;
    display: flex;
}
.my-row{
    display: flex;
}
.BG{
    background-color: #8edafc;
}